.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  background-color: rgb(126, 132, 132);
  height: 100%;
  width: 100%;


}
h1{
  color: gold;
}

.center{
  margin-bottom: 100px;
}